{% extends 'base.html.twig' %}


{% block content %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="JobBoard - HTML Template" />
<meta property="og:title" content="JobBoard - HTML Template" />
<meta property="og:description" content="JobBoard - HTML Template" />
<meta property="og:image" content="social-image.png" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- FAVICONS ICON -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

<!-- PAGE TITLE HERE -->
<title>JobBoard - HTML Template</title>

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="/path/to/jquery.min.js"></script>
<script src="/path/to/underscore.min.js"></script>
<![endif]-->

<!-- STYLESHEETS -->
<link rel="stylesheet" type="text/css" href="css/plugins.min.css">
<link rel="stylesheet" type="text/css" href="plugins/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="plugins/themify/themify-icons.css">
<link rel="stylesheet" type="text/css" href="css/style.min.css">
<link rel="stylesheet" type="text/css" href="css/templete.min.css">
<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.min.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Open+Sans:wght@300;400;600;700;800&amp;family=Roboto:wght@100&amp;family=Rubik:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="sweetalert2.min.css">
<link rel="stylesheet"href="/path/to/bootstrap.css">
</head>

<body id="bg">

<div id="loading-area"></div>
<!-- header -->

<div class="job-bx submit-resume">

    <!-- main header -->
    <!--   <div class="sticky-header main-bar-wraper navbar-expand-lg">

           <div class="main-bar clearfix">


                   <div class="logo-header mostion">
                       <a href="index-2.html"><img src="images/logo.png" class="logo" alt=""></a>
                   </div>

                   <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                       <span></span>
                       <span></span>
                       <span></span>
                   </button>




                       </ul>

           </div>
       </div>-->


</div>
</div>
</div>
<!-- main header END -->
<style>


    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 15px 12px;
        font-size: 14px;
        cursor: pointer;
    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}

</style>

</header>
<!-- header END -->
<!-- Content -->

<!-- inner page banner -->
<!--    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
        <div class="container">

            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Blog Classic Sidebar</h1>

                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li>Blog Classic Sidebar</li>
                    </ul>
                </div>

            </div>
        </div>
-->

<div style="text-align:right">
    <i style="font-size:20px" class="fa">&#xf017; <input id="Aujourdhui"  type="date" name="date" style="background-color:powderblue" value="" readonly ></i>
</div>
<!-- inner page banner END -->
<div class="content-area">
    <div class="container">
        <div class="widget">

            {{ form_start(form) }}
            <div class="form-row align-items-end" >
                <div class="col" >
                    {{ form_row(form.category) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit"  class="btn"   ><i class="fa fa-search-plus" > </i></button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

            <div style="text-align:right">

            <div class="btn-group btn-group-sm mb-3"  >


                <a class="btn" href="{{ path('new_formation')}}" ><i class="fa fa-plus-square-o" style="font-size:21px" >  Formation  </i> </a>
                <a  href="{{ path('new_category')}}"  class="btn"><i class="fa fa-plus-square-o" style="font-size:21px"  >  Catégorie  </i></a>
                <a  href="{{ path('formation_pdf')}}" class="btn"> <i class="fa fa-clipboard" style="font-size:21px" >PDF  </i></a>

        </div>
            </div>

            <!--<h6 class="widget-title style-1">Search</h6>
            <div class="search-bx style-1">
                <form role="search" method="post">
                    <div class="input-group">
                        <input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
                        <span class="input-group-btn">
												<button type="submit" class="fa fa-search text-primary"></button>
                                            </span>
                    </div>
                </form>

            </div>
        </div>
        -->
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-8 col-md-7 col-sm-12">

                    <!-- Blog large img -->
                    <div class="blog-post blog-lg blog-style-1">





                        {% if formation %}
                            <table id="formation" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Formations</th>
                                    <th>Date</th>
                                    <th>Adresse</th>
                                    <th>Prix</th>
                                    <th>Categorie</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for formation in formation %}
                                    <tr>
<td>{{ formation.nom }}</td>
                                        <td>{{formation.date_debut|date('d-m-Y')}}</td>
                                        <td>{{ formation.adresse }}</td>
                                        <td>{{ formation.prix }}</td>
                                        <td>{{ formation.category.titre }}</td>

                                        <td>
                                            <a href="/formation/{{ formation.id }}" class="btn btn-primary mb-2"  ><i class="fa fa-eye"  ></i></a>
                                            <a href="/formation/edit/{{ formation.id }}" class="btn btn-warning mb-2" ><i class="fa fa-edit" ></i></a>
                                            <a href="/formation/delete/{{ formation.id }}" class="btn btn-danger mb-2" onclick="return confirm('Etesvous sûr de supprimer cet article?');"><i class="fa fa-trash" ></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Aucun articles</p>
                        {% endif %}





                            <div class="pagination">

                        {{ knp_pagination_render(formation) }}
                            </div>






                        <!-- Left part END  lena mel fou9 -->
                        <!-- Side bar start  lenaaa-->
                        <div class="col-lg-4 col-md-5 col-sm-12 sticky-top">


                            <aside  class="side-bar">
                                <div class="widget">


                                </div>
                                <!--
                                                            <div class="widget recent-posts-entry">
                                                                <h6 class="widget-title style-1">Recent Posts</h6>
                                                                <div class="widget-post-bx">
                                                                    <div class="widget-post clearfix">
                                                                        <div class="dez-post-media"> <img src="images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
                                                                        <div class="dez-post-info">
                                                                            <div class="dez-post-header">
                                                                                <h6 class="post-title"><a href="blog-details.html">11 Tips to Help You Get New Clients Through Cold Calling</a></h6>
                                                                            </div>
                                                                            <div class="dez-post-meta">
                                                                                <ul class="d-flex align-items-center">
                                                                                    <li class="post-date"><i class="fa fa-calendar"></i>Sep 18, 2017</li>
                                                                                    <li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="widget-post clearfix">
                                                                        <div class="dez-post-media"> <img src="images/blog/recent-blog/pic2.jpg" width="200" height="160" alt=""> </div>
                                                                        <div class="dez-post-info">
                                                                            <div class="dez-post-header">
                                                                                <h6 class="post-title"><a href="blog-details.html">Do you have a job that the average person doesn’t even know exists?</a></h6>
                                                                            </div>
                                                                            <div class="dez-post-meta">
                                                                                <ul class="d-flex align-items-center">
                                                                                    <li class="post-date"><i class="fa fa-calendar"></i>Sep 18, 2017</li>
                                                                                    <li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="widget-post clearfix">
                                                                        <div class="dez-post-media"> <img src="images/blog/recent-blog/pic3.jpg" width="200" height="160" alt=""> </div>
                                                                        <div class="dez-post-info">
                                                                            <div class="dez-post-header">
                                                                                <h6 class="post-title"><a href="blog-details.html">Using Banner Stands To Increase Trade Show Traffic</a></h6>
                                                                            </div>
                                                                            <div class="dez-post-meta">
                                                                                <ul class="d-flex align-items-center">
                                                                                    <li class="post-date"><i class="fa fa-calendar"></i>Sep 18, 2017</li>
                                                                                    <li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="widget widget_gallery gallery-grid-3">
                                                                <h6 class="widget-title style-1">Our services</h6>
                                                                <ul>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic2.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic1.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic5.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic7.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic8.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                    <li><div class="dez-post-thum">
                                                                            <a href="javascript:void(0);" class="dez-img-overlay1 dez-img-effect zoom-slow">
                                                                                <img src="images/gallery/pic9.jpg" alt="">
                                                                            </a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                -->


                                <!--
                                                            <div class="widget widget-newslatter">
                                                                <h6 class="widget-title style-1">Newsletter</h6>
                                                                <div class="news-box">
                                                                    <p>Enter your e-mail and subscribe to our newsletter.</p>
                                                                    <form class="dzSubscribe" action="https://job-board.dexignzone.com/xhtml/script/mailchamp.php" method="post">
                                                                        <div class="dzSubscribeMsg"></div>
                                                                        <div class="input-group">
                                                                            <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email"/>
                                                                            <button name="submit" value="Submit" type="submit" class="site-button btn-block">Subscribe Now</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            -->
                            </aside>
                        </div>
                        <!-- Side bar END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Content END-->
        <!-- Modal Box -->
        <div class="modal fade lead-form-modal" id="car-details" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body row m-a0 clearfix">
                        <div class="col-lg-6 col-md-6 overlay-primary-dark d-flex p-a0" style="background-image: url(images/background/bg3.jpg);  background-position:center; background-size:cover;">
                            <div class="form-info text-white align-self-center">
                                <h3 class="m-b15">Login To You Now</h3>
                                <p class="m-b15">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
                                <ul class="list-inline m-a0">
                                    <li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-a0">
                            <div class="lead-form browse-job text-left">
                                <form>
                                    <h3 class="m-t0">Personal Details</h3>
                                    <div class="form-group">
                                        <input value="" class="form-control" placeholder="Name"/>
                                    </div>
                                    <div class="form-group">
                                        <input value="" class="form-control" placeholder="Mobile Number"/>
                                    </div>
                                    <div class="clearfix">
                                        <button type="button" class="btn-primary site-button btn-block">Submit </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box End -->
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                            <div class="widget">
                                <img src="images/logo-white.png" width="180" class="m-b15" alt=""/>
                                <p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the.</p>
                                <div class="subscribe-form m-b20">
                                    <form class="dzSubscribe" action="https://job-board.dexignzone.com/xhtml/script/mailchamp.php" method="post">
                                        <div class="dzSubscribeMsg"></div>
                                        <div class="input-group">
                                            <input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Address" type="email">
                                            <span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span>
                                        </div>
                                    </form>
                                </div>
                                <ul class="list-inline m-a0">
                                    <li><a href="javascript:void(0);" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0);" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                            <div class="widget border-0">
                                <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                                <ul class="list-2 list-line">
                                    <li><a href="javascript:void(0);">Privacy & Seurty</a></li>
                                    <li><a href="javascript:void(0);">Terms of Serice</a></li>
                                    <li><a href="javascript:void(0);">Communications</a></li>
                                    <li><a href="javascript:void(0);">Referral Terms</a></li>
                                    <li><a href="javascript:void(0);">Lending Licnses</a></li>
                                    <li><a href="javascript:void(0);">Support</a></li>
                                    <li><a href="javascript:void(0);">How It Works</a></li>
                                    <li><a href="javascript:void(0);">For Employers</a></li>
                                    <li><a href="javascript:void(0);">Underwriting</a></li>
                                    <li><a href="javascript:void(0);">Contact Us</a></li>
                                    <li><a href="javascript:void(0);">Lending Licnses</a></li>
                                    <li><a href="javascript:void(0);">Support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                            <div class="widget border-0">
                                <h5 class="m-b30 text-white">Find Jobs</h5>
                                <ul class="list-2 w10 list-line">
                                    <li><a href="javascript:void(0);">US Jobs</a></li>
                                    <li><a href="javascript:void(0);">Canada Jobs</a></li>
                                    <li><a href="javascript:void(0);">UK Jobs</a></li>
                                    <li><a href="javascript:void(0);">Emplois en Fnce</a></li>
                                    <li><a href="javascript:void(0);">Jobs in Deuts</a></li>
                                    <li><a href="javascript:void(0);">Vacatures China</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
						<span> © Copyright 2020  by <i class="fa fa-heart m-lr5 text-red heart"></i>
						<a href="javascript:void(0);">DexignZone </a> All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END -->

    </div>



        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $('.delete-confirm').on('click', function (event) {
                event.preventDefault();
                const url = $(this).attr('href');
                swal({
                    title: 'Are you sure?',
                    text: 'This record and it`s details will be permanantly deleted!',
                    icon: 'warning',
                    buttons: ["Cancel", "Yes!"],
                }).then(function(value) {
                    if (value) {
                        window.location.href = url;
                    }
                });
            });
        </script>
    <script>
        document.getElementById("Aujourdhui").valueAsDate = new Date();
    </script>

            {% endblock %}

