
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('frontOffice/css/plugins.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('frontOffice/plugins/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontOffice/plugins/themify/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontOffice/css/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontOffice/css/templete.min.css') }}">
    <link class="skin" rel="stylesheet" type="text/css" href="{{ asset('frontOffice/css/skin/skin-1.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Open+Sans:wght@300;400;600;700;800&amp;family=Roboto:wght@100&amp;family=Rubik:wght@300;400;500;700;900&amp;display=swap"
          rel="stylesheet">
{% endblock %}
{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <div class="browse-job login-style3">
        <!-- Coming Soon -->
        <div class="bg-img-fix"
             style="background-image:url({{ asset('frontOffice/') }}images/background/bg6.jpg); height: 100vh;">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 bg-white z-index2 relative p-a0 content-scroll skew-section left-bottom">
                    <div class="login-form style-2">
                        <div class="logo-header text-center p-tb30">
                            <a href="/"><img src="{{ asset('frontOffice/') }}images/logo.png" alt=""/></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tab-content nav p-b30 tab">
                            <div id="login" class="tab-pane active active ">
                                <h3 class="form-title m-t0">Personal Information</h3>
                                <div class="dez-separator-outer m-b5">
                                    <div class="dez-separator bg-primary style-liner"></div>
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                                {{ form_start(form) }}
                                {{ form_row(form._username) }}
                                {{ form_row(form._password) }}
                                {{ form_row(form.remember_me) }}
                                <button type="submit" class="site-button pull-right">{{ 'user.login'|trans }}</button>
                                <br>

                                <br>
                                <div class="text-center bottom">
                                    <a href="{{ path('user_register') }}"
                                       class="site-button button-md btn-block text-white">Create an account</a>
                                </div>
                            </div>


                        </div>
                        <div class="bottom-footer clearfix m-t10 m-b20 row text-center">
                            <div class="col-lg-12 text-center">
								<span> © Copyright 2020  by <i class="fa fa-heart m-lr5 text-red heart"></i>
                            </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Blog Page Contant -->
    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

    <script src="{{ asset('frontOffice/') }}js/combining.js"></script><!-- COMBINING JS  -->
    <script src="{{ asset('frontOffice/') }}plugins/scroll/scrollbar.min.js"></script><!-- PARTICLES  -->
    <script>
        jQuery(document).ready(function () {
            jQuery('.winHeight').css('height', $(window).height());
        });
    </script>


{% endblock %}

